.flex-container{
  margin: 0 auto;
  width: 80%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.MuiCard-root {
  flex: 0 1 800px;
  display: flex;
  justify-content: space-between;
  margin-bottom: 0.5em;
}

.form {
  flex: 0 1 800px;
  margin: 0.5em;
}

.form-buttons {
  display: flex;
  justify-content: center;
}
